{% extends "news/base.html" %}

{% block title %}
    文章详情页
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="../../static/news/js/detail.js"></script>
{% endblock %}

{% block content %}


    <div class="detail_con fl">
        <h3>{{ data.news_data.title }}</h3>
        <div class="detail_about clearfix">
            <span class="time_souce fl">{{ data.news_data.create_time }} 来源: {{ data.news_data.source }}</span>
            <span class="comment fr">{{ data.news_data.comments_count }}</span>
        </div>

        <p class="summary">
            {{ data.news_data.digest }}
        </p>

        {{ data.news_data.content | safe }}

        {% if data.is_collection %}
            <a href="javascript:;" class="collected block-center" news_id="{{ data.news_data.id }}"><span class="out">已收藏</span><span
                    class="over">取消收藏</span></a>

        {% else %}
            <a href="javascript:;" class="collection block-center" news_id="{{ data.news_data.id }}">收藏</a>
        {% endif %}

        {% if data.user_dict %}

            <form action="" class="comment_form" news_id="{{ data.news_data.id }}">
                <div class="person_pic">
                    <img src="../../static/news/images/cat.jpg" alt="用户图标">
                </div>
                <textarea placeholder="请发表您的评论" class="comment_input"></textarea>
                <input type="submit" name="" value="评 论" class="comment_sub">
            </form>

        {% else %}
            <div class="comment_form_logout">
                登录发表你的评论
            </div>
        {% endif %}



        <div class="comment_count">
            {{ data.news_data.comments_count }}条评论
        </div>
        {% for comments in data.comments_list %}
            {% if not comments.parent %}
                <div class="comment_list_con">
                    <div class="comment_list">
                        <div class="person_pic fl">
                            <img src="{% if data.user_dict.avatar_url == None %}
                    ../../static/news/images/worm.jpg
                    {% else %}
                    ../../static/news/images/headImage/{{ comments.user.this_avatar_url }}

{#                    static/news/images/headImage/a36a08a65f1234e5774a13a755e84db0.jpg#}

                    {% endif %}" alt="用户图标">

                        </div>
                        <div class="user_name fl">{{ comments.user.nick_name }}</div>
                        <div class="comment_text fl">
                            {{ comments.content }}
                        </div>
                        {% for comments_child in data.comments_list %}
                            {#                        {{ comments_child }}#}
                            {% if comments_child.parent.id == comments.id %}
                                <div class="reply_text_con fl">
                                    <div class="user_name2">{{ comments_child.user.nick_name }}</div>
                                    <div class="reply_text">
                                        {{ comments_child.content }}
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}


                        <div class="comment_time fl">{{ comments.create_time }}</div>
                        <a href="javascript:;" class="comment_up has_comment_up fr">{{ comments.like_count }}</a>
                        <a href="javascript:;" class="comment_reply fr">回复</a>
                        {#                    {{ comments }}#}
                        <from class="reply_form fl">
                            <textarea class="reply_input"></textarea>
                            <input type="submit" name="" value="回复" class="reply_sub fr" parent_id="{{ comments.id }}"
                                   news_id="{{ comments.news_id }}">
                            <input type="reset" name="" value="取消" class="reply_cancel fr">
                        </from>
                    </div>
                </div>
            {% endif %}


        {% endfor %}


    </div>


{% endblock %}

{% block author %}

    <div class="author_card">
        <a href="#" class="author_pic"><img src="{% if data.news_data.author==None %}
                    ../../static/news/images/person01.png
                    {% else %}
                    {% if data.news_data.author.this_avatar_url==None %}
                               ../../static/news/images/worm.jpg
                    {% else %}
                                ../../static/news/images/headImage/{{ data.news_data.author.this_avatar_url }}
                    {% endif %}

{#                    static/news/images/headImage/a36a08a65f1234e5774a13a755e84db0.jpg#}

                    {% endif %}"></a>
        <a href="#" class="author_name">{{ data.news_data.author.nick_name }}</a>
        <div class="author_resume">{{ data.news_data.author.signature }}</div>
        <div class="writings"><span>总篇数</span><b>{{ data.news_data.author.news_count }}</b></div>
        <div class="follows"><span>粉丝</span><b>{{ data.news_data.author.followers_count }}</b></div>
        <a href="javascript:;" class="focus fr">关注</a>
        <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>
    </div>
    {#    {% endif %}#}

{% endblock %}
