<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
<div class="news_list">
    <h3>新闻列表</h3>
    <ul class="article_list">
        {% for news_dict in data.news_dict_list %}
            {#                {{ news_dict }}#}
            <li>
                {% if news_dict.status==0 %}
                    <a href="/news/{{ news_dict.id }}"  target="_blank" >{{ news_dict.title }}</a><em class="pass">已通过</em>
                {% elif news_dict.status==1 %}
                    <a href="#">{{ news_dict.title }}</a><em class="review">审核中</em>
                {% else %}
                    <a href="#">{{ news_dict.title }}</a><em class="nopass">未通过</em>
                {% endif %}
                <span>{{ news_dict.create_time }}</span></li>
        {% endfor %}
    </ul>
    <div id="pagination" class="page"></div>
    <script>
        // 调用父页面的方法改变菜单指示
        // window.parent.fnChangeMenu(2);

        $(function () {
            $("#pagination").pagination({
                currentPage: 2,
                totalPage: 3,
                callback: function (current) {
                    alert('ok!');
                }
            });
        });
    </script>

</div>
</body>
</html>